<div class="container-fluid">


    <div class="card">

        <div class="card-header">

            All Listings {{childInfo}}

        </div>
        <div>
            {{parentPageTitle}}
        </div>

        <div class="card-body">

                <div class="row">
                    <div class="col-4">

                        <input type="text" [(ngModel)]="searchTerm">

                   </div>

                    <div class="col-2">

                        <button class="btn btn-primary" (click)="onSearchClicked()">
                            Search
                        </button>

                        <button class="btn btn-primary" [routerLink]="['/houses/create', houseService]">
                            Create
                        </button>

                        <button class="btn btn-primary" (click)="onShowIdClicked()">
                            {{isIdVisible?'Hide':'Show'}} Id
                        </button>

                    </div>

                </div>

            

            <table class="table" *ngIf="houses && houses.length > 0">

                <thead>

                    <tr>

                        <th *ngIf="isIdVisible">
                            Id
                        </th>

                        <th>
                            Image
                        </th>

                        <th>
                            Address
                        </th>

                        <th>
                            Listing Date
                        </th>

                        <th>
                            Number of Bedrooms
                        </th>

                        <th>
                            Number of Bathrooms
                        </th>

                        <th>
                            Rating
                        </th>

                        <th>
                            Price
                        </th>

                        <th>
                            Contact Number
                        </th>

                        <th>
                            Button
                        </th>


                        <!-- <th>
                            Button 1
                        </th>

                        <th>
                            Button 2
                        </th> -->

                    </tr>

                </thead>

                <tbody>

                    <!-- <tr *ngFor="let house of houses | filtering : searchTerm"> -->
                    <tr *ngFor="let house of searchResults">
                        <td *ngIf="isIdVisible">
                            {{house.id}}
                        </td>

                        <td>
                            <img src="{{house.imageUrl}}" alt="house image">
                        </td>

                        <td>
                            {{house.address | titlecase}}
                        </td>

                        <td>
                            {{house.availableDate | moveday}}
                        </td>

                        <td>
                            {{house.numberOfBedrooms}}
                        </td>

                        <td>
                            {{house.numberOfBathrooms}}
                            <app-bathroom [numberOfBathrooms]='house.numberOfBathrooms'></app-bathroom>
                        </td>

                        <td>
                            {{house.rating}}
                            <app-star [rating]="house.rating" (childEvent)="handleChildEvent($event)"></app-star>
                        </td>

                        <td>
                            {{house.listingPrice | currency}}
                        </td>

                        <td>
                            {{house.contactPhone | convertPhone}}
                        </td>

                        <td>
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-secondary" [routerLink]="['/houses',house.id]">
                                        View
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-secondary" [routerLink]="['/houses',house.id, 'edit']">
                                        Edit
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-secondary" (click)= "onDelete(house.id)">
                                        Delete
                                    </button>
                                </div>
                            </div>

                            
                        </td>

                        
                        <!-- <td>
                            <button class="btn btn-primary" [disabled]="isDisabled">Button</button>
                        </td>

                        <td>
                            <button class="btn btn-primary" disabled="{{isDisabled}}">Button</button>
                        </td> -->

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>