<div class="container">
    <div class="row">
        <div class="col">
            <h2>
                Listing # {{currentHouse.id}}.
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <h3>
                    Address:
                </h3>

            </div>
            <div class="row">
                {{currentHouse.address}}.
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h3>
                    Price:
                </h3>
            </div>
            <div class="row">
                {{currentHouse.listingPrice | currency}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{{currentHouse.imageUrl}}" alt="house image">
        </div>
        <div class="col">
            <i class="fas fa-heart" (click)="onHeartClicked()"></i> : {{currentHouse.likes}}
        </div>
    </div>
    <div class="col">
        <div class="row">
            <h3>
                Description:
            </h3>
        </div>
        <div class="row">
            <p>
                {{currentHouse.description}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Bedrooms: {{currentHouse.numberOfBedrooms}}
        </div>
        <div class="col">
            Bathrooms: {{currentHouse.numberOfBathrooms}}
        </div>
        <div class="col">
            Rating: {{currentHouse.rating}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                Contact:
            </div>
            <div class="row">
                {{currentHouse.contactPhone | convertPhone}}
            </div>
        </div>
    </div>

    <button class="btn btn-secondary" (click)="onBack()">
        Back to List
    </button>
</div>