<div class="crop" [style.width.px]="starWidth" (click)="onStarClick()">
    <div style="width: 90px">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
</div>

