<div class="container-fluid">
  <app-menu>

  </app-menu>
  
  <!-- <lm-houselist [parentPageTitle]="pageTitle">
    
  </lm-houselist>

  <lm-home-component>
    
  </lm-home-component> -->

  <router-outlet>

  </router-outlet>

</div>




