/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.ng-invalid:not(form).ng-touched {
    border: 1px solid #a94442;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;
}