<div class="container">
    <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" [(ngModel)]="house.address" name="had">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
