<div class="container">
    <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)" ngNativeValidate>
        <div class="form-group">
          <label for="id">Id</label>
          <input type="text" class="form-control" [(ngModel)]="house.id" name="hid" required #idControl="ngModel" minlength="4">
          <div *ngIf="idControl.invalid && idControl.touched">
              <small id="idHelpBlock" class="form-text text-muted" *ngIf="idControl.errors.required">
                  ID is required.
              </small>
          </div>
          <!-- <div>
              idControl's state info ---touched: {{idControl.touched}} pristine: {{idControl.pristine}} valid: {{idControl.valid}}.
          </div> -->
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" [(ngModel)]="house.address" name="had" required #addressControl="ngModel">
            <div *ngIf="addressControl.invalid && addressControl.touched">
                    <small id="addressHelpBlock" class="form-text text-muted" *ngIf="addressControl.errors.required">
                        Address is required.
                    </small>
                </div>
            <!-- <div>
                addressControl's state info ---touched: {{addressControl.touched}} pristine: {{addressControl.pristine}} valid: {{addressControl.valid}}.
            </div> -->
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid">Submit</button>
    </form>
    <!-- <div>
        createForm's state info ---touched: {{createForm.touched}} pristine: {{createForm.pristine}} valid: {{createForm.valid}}.
    </div> -->

    <div>
        {{diagnostic}}
    </div>
    <div>
        {{createForm.value | json}}
    </div>
</div>
